# Ignore MRI Data 
diff/
flash/
nifti_raw/

# Ignore Supplementary Files
temp_corr_index.txt
SCANLIST.txt
config/SCANLIST_unsorted.txt

# Ignoge python cache patterns
**/*.pyc
**/__pycache__/

# Ignore System Files from Mac and Windows
**/.DS_Store
**/Thumbs.db